*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    font-family: Calibri;

}

header{
    background: #ceb0c9;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 30px #ceacac;
    border-bottom-style: solid;
    border-bottom-color: #bb8b8b;
    border-bottom-width: 5px;
}

#encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
    border: 0px solid #fff;
    margin-top: 30px;
}

#logo{
    width: 30%;
    height: auto; overflow: hidden;
    float: left;
    color: rgb(255, 94, 0);
    font-size: 30px;
    margin-top: 30px;
}

.menu{
    width: auto;
    height: 60px;
    float: right;
    border: 0px solid #00579e;
    margin-top: 80px;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}

#menu ul li .enlace{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
}

#menu ul li .enlace:hover{
    background: #58585873;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
}

/*-- contenido principal --*/

#principal{
    width: 80%;
    height: auto; overflow: hidden;
    border: 0px solid #fff;
    margin: 10px auto;
}

#publicaciones{
    color: white; /* Color de los textos*/
    width: 70%;
    height: auto; overflow: hidden;
    border: 0px solid #fff;
    margin-top: 10px;
    float: left;
}

.post{
    width: 97%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: #8b5656;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #b69fb3;
    border-radius: 10px;
    margin-bottom: 25px; /* espacio entre posts */
}

.enlace-post{
    text-decoration: none;

}

#publicaciones a .titulo-post{
    color: #6e6e6e;
    font-size: 22px;
}

#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}

#publicaciones .img-post{
    width: 150px;
    height: 100px;
    float: left;
    margin: 7px 7px 7px 0px;  /*arriba, derecha, abajo, izquierda*/
    padding: 5px;
    border-radius: 5px;
}

#publicaciones .datos-publicaciones{
    color: #0489B1;
}

#publicaciones .parrafo-post{
    font-size: 16px;
    color: #fff; /*color del texto de las publicaciones*/
    padding: 5px;
}

#publicaciones .leer-mas{
    background: #e28000;
    color: #fff;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

#publicaciones .leer-mas:hover{
    background: #4d2c01;
    color: #fff;
}

#publicaciones .num-comentarios{
    background: #e28000;
    color: #fff; /* color de texto */
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: rgb(110, 82, 109);
}

#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
}

#sidebar{
    float: right;
    width: 28%;
    border: 0px solid;
    height: auto; overflow: hidden;
    margin-top: 8px;
}

#buscar, #categorias, #ultimos-post{
    border-radius: 10px;
    width: 98%;
    border: 1px solid #ccc;
    height: auto; overflow: hidden;
    margin-bottom: 20px;
}

form{
    margin-top: 10px;
}

#buscar input[type="text"]{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc inset;
    padding: 10px 4px;
    border-radius: 10px;
    width: 79%;
    margin-left: 4px;
    margin-bottom: 4px;
}

#buscar .boton{
    border: 0px;
    color: #fff;
    background: #9e0000;
    padding: 10px;
    border-radius: 10px;
}

.encabezado-sidebar{
    width: 100%;
    height: 35px;
    background: #be8f8f;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.enlace-sidebar{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    color: #848484;
}

.enlace-sidebar:hover{
    background: #abb800;
}

footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    background: #050505;
    width: 100%;
    height: auto;
    box-shadow: 0px 15px 30px #af7e7e;
    border-top-style: solid;
    border-top-color: #a78080;
    border-top-width: 5px;
}



.box{
   height: 400px;
   text-align: center;
   padding-top: 30px;
   border-radius: 30px;
   background-color: #ccc;
}

.iniciar{
    color: black;
}

.log{
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.reg{
    margin-bottom: 5px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    text-align: center;
}



.tituloreg{
    text-align: center;
}

.box2{
   height: 400px;
  
   padding-top: 30px;
   border-radius: 30px;
   background-color: #ccc;
   width: 400px;
   margin-left: 400px;
}

.log2{
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    text-align: center;

}

.reg2{
    margin-bottom: 5px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.container {
    background-color: #ccc;
    width: 400px;
    margin-left: 400px;
    margin-top: 100px;
    border: solid, 2px;
    justify-content: center;
    border-radius: 5px;
}