{% extends 'base.html' %}

{% block title %} Registro{% endblock title %}
{% block content %}


   <div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            
                
                <form class="box2" method="POST">
                   
                    <h2 class="tituloreg">Crea Una Cuenta Nueva</h2>
                    
                         {% csrf_token %}
						 {{form.as_p}}
                
                     <input type="submit" name="ingresar" value="Registrarme" class="log"/> <br>
                     <p class="iniciar" > Si ya  tienes  una cuenta </p>
                     <a href="{% url 'login' %}" class="btn  btn-secondary" ></i>Inicia Sesión</a>

                </form>
            
        </div>
    </div>
</div>
      
{% endblock content %}